@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-heading: "Epilogue", sans-serif;
  --font-body: "Manrope", sans-serif;

  --color-base: #fafaf5;
  --color-deep: #1a1a1a;
  --color-mint: #c8e6df;
  --color-yellow: #f5e9b8;
}

* {
  cursor: none !important;
}

/* ===== GLOBAL SCROLLBAR ===== */

/* Chrome, Edge, Brave */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d8d4ca;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9a9a8a;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #d8d4ca transparent;
}
